@model BoardgameDatabase.Boardgame

@{
    ViewData["Title"] = "View";
}


<h4>Add Boardgame</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Owner" class="control-label"></label>
                <select asp-for="Owner" class ="form-control" asp-items="ViewBag.People"></select>
            </div>
            <div class="form-group">
                <label asp-for="Keeper" class="control-label"></label>
                <select asp-for="Keeper" class ="form-control" asp-items="ViewBag.People"></select>
            </div>
            <div class="form-group">
                <label asp-for="MinPlayers" class="control-label"></label>
                <input asp-for="MinPlayers" class="form-control" />
                <span asp-validation-for="MinPlayers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxPlayers" class="control-label"></label>
                <input asp-for="MaxPlayers" class="form-control" />
                <span asp-validation-for="MaxPlayers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TagText" class="control-label"></label>
                <input asp-for="TagText" class="form-control" />
                <span asp-validation-for="TagText" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ForSale" /> @Html.DisplayNameFor(model => model.ForSale)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

